* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

i {
  font-style: normal;
}

body {
  background-color: white;
}

.header {
  height: 44px;
  background-color: #333333;
  line-height: 44px;
}

.header > .header_nav {
  width: 1255px;
  height: 44px;
  margin: 0 auto;
}

.header > .header_nav > p {
  float: left;
}

.header > .header_nav > p > a {
  display: inline-block;
  text-align: center;
  color: #b0b0b0;
  height: 44px;
  width: 76px;
  font-size: 12px;
  margin-right: 5px;
  border-right: 1 px solid #373737;
}

.header > .header_nav > p > a:hover {
  background-color: #424242;
}

.header > .header_nav > p:nth-child(1) > a:nth-child(1) {
  text-align: left;
}

.header > .header_nav > p:nth-child(2) {
  margin-left: 510px;
}

.header > .header_nav > p:nth-child(2) > a {
  width: 55px;
}

.header > .header_nav > p:nth-child(2) > a:nth-last-child(1) {
  text-align: right;
  width: 100px;
  background: url(../images/top-header-cart.png) no-repeat center;
  background-position: 1px 5px;
}

.nav {
  height: 55px;
  background-color: #ffffff;
}

.nav > .nav_content {
  position: relative;
  width: 1255px;
  height: 55px;
  margin: 0 auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.nav > .nav_content > .nav_content_list {
  position: relative;
}

.nav > .nav_content > .nav_content_list > a {
  display: block;
  float: left;
  height: 55px;
  width: 80px;
  text-align: center;
  line-height: 55px;
  font-size: 13px;
  color: #b2b2b2;
}

.nav > .nav_content > .nav_content_list > a:nth-child(1) {
  width: 115px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(2) {
  margin-left: 35px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3):hover > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(4):hover > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(5):hover > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(6):hover > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(7):hover > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(8):hover > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(9):hover > .nav_content_box_1 {
  display: block;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 {
  display: none;
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 0;
  width: 1255px;
  height: 280px;
  background-color: white;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .yp_5,
.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 .yp_6, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .yp_5,
.nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 .yp_6, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .yp_5,
.nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 .yp_6, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .yp_5,
.nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 .yp_6, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .yp_5,
.nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 .yp_6, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .yp_5,
.nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 .yp_6, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .yp_5,
.nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 .yp_6 {
  margin-top: 14px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .yp_3, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .yp_3, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .yp_3, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .yp_3, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .yp_3, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .yp_3, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .yp_3 {
  margin-top: 12px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .row_1, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .row_1, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .row_1, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .row_1, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .row_1, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .row_1, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .row_1 {
  float: left;
  width: 175px;
  padding-left: 15px;
  text-align: center;
  margin-right: 38px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .row_1:nth-child(6), .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .row_1:nth-child(6), .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .row_1:nth-child(6), .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .row_1:nth-child(6), .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .row_1:nth-child(6), .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .row_1:nth-child(6), .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .row_1:nth-child(6) {
  margin-right: 0;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .row_1 > img, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .row_1 > img, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .row_1 > img, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .row_1 > img, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .row_1 > img, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .row_1 > img, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .row_1 > img {
  display: block;
  width: 155px;
  height: 150px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .row_1 > .row_1_line1, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .row_1 > .row_1_line1, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .row_1 > .row_1_line1, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .row_1 > .row_1_line1, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .row_1 > .row_1_line1, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .row_1 > .row_1_line1, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .row_1 > .row_1_line1 {
  font-size: 16px;
  color: #222;
  line-height: 16px;
  margin-bottom: 15px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .row_1 > .row_1_line2, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .row_1 > .row_1_line2, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .row_1 > .row_1_line2, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .row_1 > .row_1_line2, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .row_1 > .row_1_line2, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .row_1 > .row_1_line2, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .row_1 > .row_1_line2 {
  font-size: 14px;
  color: #989898;
  line-height: 14px;
  margin-bottom: 15px;
}

.nav > .nav_content > .nav_content_list > a:nth-child(3) > .nav_content_box_1 > .row_1 > .row_1_line3, .nav > .nav_content > .nav_content_list > a:nth-child(4) > .nav_content_box_1 > .row_1 > .row_1_line3, .nav > .nav_content > .nav_content_list > a:nth-child(5) > .nav_content_box_1 > .row_1 > .row_1_line3, .nav > .nav_content > .nav_content_list > a:nth-child(6) > .nav_content_box_1 > .row_1 > .row_1_line3, .nav > .nav_content > .nav_content_list > a:nth-child(7) > .nav_content_box_1 > .row_1 > .row_1_line3, .nav > .nav_content > .nav_content_list > a:nth-child(8) > .nav_content_box_1 > .row_1 > .row_1_line3, .nav > .nav_content > .nav_content_list > a:nth-child(9) > .nav_content_box_1 > .row_1 > .row_1_line3 {
  font-size: 14px;
  color: #ed1c24;
  line-height: 14px;
  margin-bottom: 15px;
}

.nav > .nav_content > .nav_content_list > a:hover {
  color: #f01d25;
  background-color: white;
}

.nav > .nav_content > .nav_content_list > a:nth-child(1):hover {
  color: #f01d25;
  background-color: #f4f4f4;
}

.nav > .nav_content > .nav_content_list > a > img {
  vertical-align: middle;
}

.nav > .nav_content > .nav_content_list > a > img:nth-child(1) {
  margin-left: 30px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.item_content {
  width: 1255px;
  margin: 0 auto;
  overflow: hidden;
}

.item_content > .item_title {
  margin-top: 50px;
}

.item_content > .item_title > h3 {
  font-size: 14px;
  color: #777777;
}

.item_content > .item_title > h3 > a {
  font-size: 14px;
  color: #333333;
}

.item_content > .item_title > h3 > span {
  color: #ccc;
  padding: 0px 5px;
}

.item_content > .item_imglist {
  width: 72px;
  height: 420px;
  margin-top: 28px;
  float: left;
  text-align: center;
}

.item_content > .item_imglist > img {
  display: block;
  width: 24px;
  height: 28px;
}

.item_content > .item_imglist > img:hover {
  cursor: pointer;
}

.item_content > .item_imglist > img.up_img {
  margin-left: 22px;
  position: relative;
}

.item_content > .item_imglist > img.down_img {
  position: relative;
  top: 8px;
  left: 22px;
}

.item_content > .item_imglist > .imglist_box {
  width: 72px;
  height: 420px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.item_content > .item_imglist > .imglist_box > .ul_box {
  top: 0px;
  position: absolute;
}

.item_content > .item_imglist > .imglist_box > .ul_box > ul > li {
  width: 72px;
  height: 72px;
  padding: 2px;
  margin: 10px 0px 0px;
  text-align: center;
  border: 1px solid #e3e3e3;
  position: relative;
}

.item_content > .item_imglist > .imglist_box > .ul_box > ul > li.actived {
  border: 2px solid red;
}

.item_content > .item_imglist > .imglist_box > .ul_box > ul > li.imglist_3 {
  width: 72px;
  height: 24px;
  margin-top: 0;
  border: none;
}

.item_content > .item_imglist > .imglist_box > .ul_box ul > .imglist_2 > img {
  width: 64px;
  height: 64px;
}

.item_content > .item_imglist .movebox {
  opacity: 0.5;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
}

.item_content > .item_bigimg {
  width: 540px;
  height: 540px;
  padding: 5px;
  margin-top: 30px;
  margin-left: 35px;
  margin-bottom: 50px;
  border: 1px solid #e3e3e3;
  float: left;
  position: relative;
}

.item_content > .item_bigimg > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.item_content > .item_detail {
  float: left;
  padding-left: 30px;
  padding-left: 15px;
  margin-top: 30px;
}

.item_content > .item_detail > h3 {
  font-size: 20px;
  color: #333333;
  margin: 0px 0px 10px;
  font-weight: 600;
}

.item_content > .item_detail > .dline1 {
  font-size: 14px;
  color: #333333;
}

.item_content > .item_detail > p > .dline2 {
  color: #ed1c24;
  font-size: 24px;
  font-weight: 700;
}

.item_content > .item_detail > p > .dline3 {
  text-decoration: line-through;
  color: #b0b0b0;
  font-size: 14px;
}

.item_content > .item_detail > p > a {
  color: #767676;
  font-size: 14px;
  margin-left: 175px;
}

.item_content > .item_detail > p > a > i > img {
  vertical-align: middle;
  margin-right: 5px;
}

.item_content > .item_detail > .address {
  margin: 35px 0px;
  padding: 15px 0px;
  color: #333333;
  font-size: 14px;
}

.item_content > .item_detail > .address > span {
  display: inline-block;
  margin-right: 10px;
}

.item_content > .item_detail > .address > span > img {
  width: 14px;
  height: 16px;
}

.item_content > .item_detail > .item_count > .num {
  display: block;
  float: left;
  width: 45px;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #333333;
}

.item_content > .item_detail > .item_count > input {
  width: 70px;
  height: 25px;
  text-align: center;
  float: left;
}

.item_content > .item_detail > .item_count > .lose,
.item_content > .item_detail .add {
  float: left;
  background-color: #ffffff;
  display: block;
  font-size: 20px;
  line-height: 10px;
  padding: 0px 0px 3px;
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
}

.item_content > .item_detail > .item_footer {
  clear: both;
  padding: 15px 0px;
}

.item_content > .item_detail > .item_footer > a {
  clear: both;
  display: inline-block;
  width: 190px;
  height: 40px;
  margin-right: 20px;
  line-height: 40px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background: #ed1c24;
  border: 1px solid #ed1c24;
  border-radius: 3px;
  color: #ffffff;
}

.item_content > .item_detail > .item_footer > a:nth-child(2) {
  background-color: #ff9f00;
  border: 1px solid #ff9f00;
  border-radius: 3px;
}

.item_content > .item_msg {
  clear: both;
  width: 1255px;
  border: 1px solid #e6e6e6;
}

.item_content > .item_msg > .item_msg_main > .item_msg_content {
  width: 679px;
  margin: 0 auto;
}

.item_content > .item_msg > .item_msg_main > .item_msg_content > a {
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 22px;
  color: #555555;
  text-align: center;
  font-size: 14px;
  margin: 0px 2px 0px 0px;
  padding: 10px 15px;
}

.item_content > .item_msg > .item_msg_main > .item_msg_content > a.actived {
  border-bottom: 2px solid #ed1c24;
}

.item_content > .item_pic {
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-top: none;
  border-bottom: none;
}

.item_content > .item_pic > div {
  width: 1198px;
  margin: 0 !important;
}

.item_content > .item_pic > div > img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.item_content > .params {
  font-size: 22px;
  color: #333333;
  padding: 0px 15px;
  padding-bottom: 10px;
  margin: 0px 0px 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.item_content > .params > p {
  border-bottom: 1px solid #ddd;
}

.item_content > .comment {
  padding: 15px;
  font-size: 22px;
  color: #333333;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.item_content > .comment > p {
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  border-bottom: 1px solid #ddd;
}

.item_content > .comment > .commentlist {
  border: 1px solid #ccc;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
  color: #666;
  background: #f8f8f8;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.item_content > .service {
  color: #333333;
  font-size: 14px;
  padding: 20px;
  margin-top: 0px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

.item_content > .service > p {
  color: #333333;
  font-size: 22px;
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  border-bottom: 1px solid #ddd;
}

.item_content > .service > .rules {
  font-size: 14px;
}

.item_content > .want {
  padding: 20px;
  border: 1px solid #ddd;
}

.item_content > .want > a {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  width: 80px;
  background: #ed1c24;
  text-align: center;
}

.item_content > .nav_pub {
  padding: 20px;
  height: 60px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

.item_content > .nav_pub > ul > li {
  float: left;
  width: 66px;
  height: 22px;
  line-height: 22px;
  color: #333333;
  font-size: 14px;
  margin: 0px 0px 0px 2px;
  padding: 0px 5px;
}

.item_content > .nav_pub > ul > li.actived {
  background-color: #ed1c24;
}

.item_content > .nav_pub > ul > li:nth-child(1) {
  margin: 0;
  color: #ffffff;
}

.item_content > .publish {
  border: 1px solid #ddd;
}

.item_content > .publish h3 {
  color: #333333;
  font-size: 20px;
  height: 64px;
  line-height: 64px;
  margin: 10px 0px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.item_content > .publish > form > .publist {
  padding: 20px;
}

.item_content > .publish > form > .publist > .all > label {
  color: #333333;
  font-size: 14px;
  margin: 0px 0px 5px 3px;
}

.item_content > .publish > form > .publist > .all > label:nth-child(1) {
  margin: 0px 10px 5px 3px;
}

.item_content > .publish > form > .publist > .pub_text {
  margin: 20px 0px 0px;
  padding: 0px 200px 0px 0px;
  width: 1068px;
}

.item_content > .publish > form > .publist > .pub_text > textarea {
  width: 868px;
  height: 180px;
}

.item_content > .publish > form > .publist > .pub_text > p {
  color: #999999;
  font-size: 14px;
  margin: 0px 0px 10px;
  text-align: right;
}

.item_content > .publish > form > .publist > .pub_phone {
  margin: 0px 0px 20px;
  color: #666666;
  font-size: 14px;
}

.item_content > .publish > form > .publist > .pub_phone > input {
  width: 157px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 1px 0px;
  background-color: #ffffff;
}

.item_content > .publish > form > .publist > .pub_phone > img {
  vertical-align: middle;
}

.item_content > .publish > form > .publist > button {
  width: 80px;
  height: 40px;
  color: #ffffff;
  background-color: #ed1c24;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ed1c24;
  border-radius: 2px;
}

.sec_service {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.service {
  width: 100%;
  margin-top: 56px;
  background-color: #ffffff;
}

.service_content {
  width: 1255px;
  height: 126px;
  margin: 0 auto;
  border-bottom: 2px solid #f3f3f3;
}

.service_content > .service_1 {
  float: left;
  margin-right: 80px;
}

.service_content > .service_1:nth-child(5) {
  margin-right: 0;
}

.service_content > .service_1:nth-child(1) {
  margin-left: 64px;
}

.service_content > .service_1 > dl {
  display: flex;
  flex-wrap: wrap;
}

.service_content > .service_1 > dl > dt {
  margin-top: 60px;
  margin-right: 16px;
}

.service_content > .service_1 > dl > dd > h2 {
  margin-top: 55px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 18px;
  color: #b2b2b2;
}

.service_content > .service_1 > dl > dd > p {
  font-size: 12px;
  line-height: 12px;
  color: #b2b2b2;
}

.connect_list {
  width: 1255px;
  height: 460px;
  margin: 0 auto;
}

.connect_list > ul {
  float: left;
  margin-right: 92px;
}

.connect_list > ul:nth-last-child(1) {
  margin-right: 0;
}

.connect_list > ul > li {
  font-size: 12px;
  line-height: 12px;
  color: #767676;
  margin-bottom: 25px;
}

.connect_list > ul > li.code {
  position: relative;
}

.connect_list > ul > li.code > img {
  display: none;
  position: absolute;
  top: -35px;
  left: 50px;
  width: 90px;
  height: 90px;
  z-index: 2;
}

.connect_list > ul > li:hover {
  user-select: none;
  cursor: pointer;
  color: #ff5d59;
}

.connect_list > ul > li:hover > img {
  display: inline-block;
}

.connect_list > ul > li:nth-child(1) {
  margin-top: 68px;
  font-size: 13px;
  line-height: 13px;
  font-weight: bolder;
  color: #333333;
}

.connect_list > .connect_phone {
  border-left: 1px solid #eaeaea;
  width: 250px;
  height: 125px;
  margin-top: 55px;
  float: right;
  text-align: center;
}

.connect_list > .connect_phone > p:nth-child(1) {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  color: #6f6c71;
  font-weight: 600;
}

.connect_list > .connect_phone > p:nth-child(2) {
  color: #ff5d59;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 15px;
}

.connect_list > .connect_phone > a {
  margin-top: 5px;
  padding: 5px 10px;
  color: #ff5d59;
  font-size: 16px;
  border: 1px solid #ff5d59;
}

.connect_list > .connect_phone > a > span > img {
  vertical-align: middle;
}

.footer {
  height: 110px;
  background-color: #313131;
}

.footer > p > img {
  margin-top: 36px;
  margin-left: 120px;
  margin-right: 880px;
}

.footer > p > span {
  font-size: 10px;
  color: #666666;
}

.footer > p > span > a {
  color: #666666;
}

.footer > p > span > a:hover {
  color: white;
}

.footer_img {
  text-align: center;
}

.login {
  position: absolute;
  top: 104px;
  right: 325px;
  width: 450px;
  height: 400px;
  background-color: white;
}

.right_nav {
  position: fixed;
  top: 60%;
  left: 1860px;
  background-color: white;
}

.right_nav > li {
  transition: all .3s;
}

.right_nav > li:hover > .rn_1 {
  display: none;
}

.right_nav > li:hover > .rn {
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

.right_nav > li > a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 1px solid #bcbcbc;
  text-align: center;
}

.right_nav > li > a > img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.rn {
  display: none;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background-color: #ed1c24;
  color: white;
  font-size: 12px;
  line-height: 13px;
  padding: 7px 5px;
}
